.col-md-8.col-sm-8.col-xs-12
  %p.description
    =t('dashboard.upgrade.description')
  %p.title
    =t('dashboard.upgrade.title')    
  %a.btn.btn-round.item-manager{:href => upgrade_path({})}
    =t('dashboard.upgrade.button')
.col-md-4.col-sm-4.col-xs-12
