.col-md-8.col-sm-8.col-xs-12
  %a.btn.btn-round.item-manager{:href => user_plan_path()}
    =t('dashboard.upgrade.plan.button', new_plan_type: current_user.paid_plan_type)
.col-md-4.col-sm-4.col-xs-12
