= label_tag :sub_subject, 'Sub-subject'
.form-dc-select
	= select_tag :sub_subject_id, options_for_select(options_for_sub_subject_select), class: 'form-control', prompt: 'Please choose sub-subject', required: true