<% content_for :page_title, t('manager.todos.labels.task_manager') %>
<% content_for :previous_path, dashboard_manager_todos_path %>

<div class="row">
    <div class="twelvecol">
        <%= render 'form_new' %>
    </div>
</div>
