<% content_for :title, 'Edit Global Setting' %>
<% content_for :breadcrumb, 'Edit' %>
<% breadcrumb_add 'Global Settings', admin_global_settings_path %>

<div class="twelvecol">
    <div class="page-header">
        <h2 class="widget widget-header">Edit Global Settings</h2>
    </div>
    <%= render 'form' %>
</div>
