<% content_for :title, 'New Todo' %>
<% content_for :breadcrumb, 'New' %>
<% breadcrumb_add 'Todos', admin_todos_path %>

<div class="twelvecol">
    <div class="page-header">
        <h2 class="widget widget-header">New Todo</h2>
    </div>
    <%= render 'form' %>
</div>
