= label_tag :child, t('illnesses.labels.select_children')
.form-dc-select
  = select_tag :child_id, options_from_collection_for_select(@children, 'id', 'name'), class: 'form-control', required: true, prompt: t('illnesses.labels.select_children')
