.row.text-center.step-banner
  = image_tag 'parent-md.png'
  %h4 Daycare Parent
.row.pane-container.text-center
  .row
    = image_tag 'parent-bar-3.png'
.row.pane-search-result.text-center
  %h3.complete-title.item-parentee CONGRATULATIONS!
  %h5.compelet-message You have now created your DayCare Profile.
  %h5.compelet-message Shortly you will get a Email.
.parent-congratulation