.reg-parentee-container.page-boxed
  .page-header
  .container
    .form-content        
      #rootwizard
        %ul{:style=> "visibility: hidden; height: 0; position:absolute;"}
          %li
            %a{"data-toggle" => "tab", :href => "#tab1"} First
        .tab-content
          #tab1.tab-pane
            = render 'pane_search'
          .col-sm-12
            %ul.pager.wizard.text-left
              %li.previous
                %button.btn.btn-round.item-parentee{:type => "button"} 
                  =t('register.labels.previous')
              %li.next{:style => "float:right;"}
                %button.btn.btn-round.item-parentee{:type => "button"} 
                  =t('register.labels.next')
              %li.previous.first{:style => "display:none;"}
                %a{:href => "#"} First
              %li.next.last{:style => "display:none;"}
                %a{:href => "#"} Last

:javascript
  jQuery(document).ready(function() {    
    $('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-pills'}); 
    $('.next button').click(function(){
      var tab_id = $('.tab-pane.active').attr('id');
      if(tab_id == "tab1"){
        if($('input[name=daycare_item]:checked' ,'.msg_list').attr('select-link'))
          window.location.href = $('input[name=daycare_item]:checked' ,'.msg_list').attr('select-link');
      }
    });
  });
