<div class="container">
    <% if flash[:alert] %>
        <div class="alert alert-warning">
            <i class="icon-warning"></i>
            <%= flash[:alert] %>
        </div>
    <% elsif flash[:notice] %>
        <div class="alert alert-info">
            <i class="icon-info"></i>
            <%= flash[:notice] %>
        </div>
    <% end %>
</div>