<% content_for :title, 'Email Campaign Template' %>
<% content_for :breadcrumb, 'Email Campaign Template' %>

<div class="twelvecol">
    <div class="page-header">
        <h2 class="widget widget-header">Edit Template</h2>
    </div>
    <%= render partial: 'form' %>
</div>

