<% content_for :title, 'New Email Campaign Template' %>
<% content_for :breadcrumb, 'New' %>
<% breadcrumb_add 'Poster', admin_locale_posters_path %>

<div class="twelvecol">
    <div class="page-header">
        <h2 class="widget widget-header">New Email Campaign Template</h2>
    </div>
    <%= render partial: 'form' %>
</div>