%select#verify-timezone.form-control{:name => "timezone", :style => "display: inline-block;"}
  %optgroup{:label => "United States"}
    %option{:value => "Pacific/Honolulu"} (GMT-10:00)  Hawaii Time
    %option{:value => "America/Anchorage"} (GMT-9:00)  Alaska Time
    %option{:value => "America/Los_Angeles"} (GMT-8:00)  Pacific Time
    %option{:value => "America/Denver"} (GMT-7:00)  Mountain Time - Denver
    %option{:value => "America/Phoenix"} (GMT-7:00)  Arizona Time
    %option{:value => "America/Chicago"} (GMT-6:00)  Central Time
    %option{:value => "America/New_York"} (GMT-5:00)  Eastern Time
  %option{:disabled => "disabled"}
  %option{:value => "Pacific/Apia"} (GMT+14:00)  Apia
  %option{:value => "Pacific/Midway"} (GMT-11:00)  Midway
  %option{:value => "Pacific/Niue"} (GMT-11:00)  Niue
  %option{:value => "Pacific/Pago_Pago"} (GMT-11:00)  Pago Pago
  %option{:value => "Pacific/Fakaofo"} (GMT+13:00)  Fakaofo
  %option{:value => "Pacific/Johnston"} (GMT-10:00)  Johnston
  %option{:value => "Pacific/Rarotonga"} (GMT-10:00)  Rarotonga
  %option{:value => "Pacific/Tahiti"} (GMT-10:00)  Tahiti
  %option{:value => "Pacific/Marquesas"} (GMT-9:30)  Marquesas
  %option{:value => "Pacific/Gambier"} (GMT-9:00)  Gambier
  %option{:value => "America/Tijuana"} (GMT-8:00)  Pacific Time - Tijuana
  %option{:value => "America/Vancouver"} (GMT-8:00)  Pacific Time - Vancouver
  %option{:value => "America/Whitehorse"} (GMT-8:00)  Pacific Time - Whitehorse
  %option{:value => "Pacific/Pitcairn"} (GMT-8:00)  Pitcairn
  %option{:value => "America/Dawson_Creek"} (GMT-7:00)  Mountain Time - Dawson Creek
  %option{:value => "America/Edmonton"} (GMT-7:00)  Mountain Time - Edmonton
  %option{:value => "America/Hermosillo"} (GMT-7:00)  Mountain Time - Hermosillo
  %option{:value => "America/Mazatlan"} (GMT-7:00)  Mountain Time - Chihuahua, Mazatlan
  %option{:value => "America/Yellowknife"} (GMT-7:00)  Mountain Time - Yellowknife
  %option{:value => "America/Belize"} (GMT-6:00)  Belize
  %option{:value => "America/Costa_Rica"} (GMT-6:00)  Costa Rica
  %option{:value => "America/El_Salvador"} (GMT-6:00)  El Salvador
  %option{:value => "America/Guatemala"} (GMT-6:00)  Guatemala
  %option{:value => "America/Managua"} (GMT-6:00)  Managua
  %option{:value => "America/Mexico_City"} (GMT-6:00)  Central Time - Mexico City
  %option{:value => "America/Regina"} (GMT-6:00)  Central Time - Regina
  %option{:value => "America/Tegucigalpa"} (GMT-6:00)  Central Time - Tegucigalpa (no DST)
  %option{:value => "America/Winnipeg"} (GMT-6:00)  Central Time - Winnipeg
  %option{:value => "Pacific/Easter"} (GMT-5:00)  Easter Island
  %option{:value => "Pacific/Galapagos"} (GMT-6:00)  Galapagos
  %option{:value => "America/Bogota"} (GMT-5:00)  Bogota
  %option{:value => "America/Cayman"} (GMT-5:00)  Cayman
  %option{:value => "America/Grand_Turk"} (GMT-4:00)  Grand Turk
  %option{:value => "America/Guayaquil"} (GMT-5:00)  Guayaquil
  %option{:value => "America/Havana"} (GMT-5:00)  Havana
  %option{:value => "America/Iqaluit"} (GMT-5:00)  Eastern Time - Iqaluit
  %option{:value => "America/Jamaica"} (GMT-5:00)  Jamaica
  %option{:value => "America/Lima"} (GMT-5:00)  Lima
  %option{:value => "America/Montreal"} (GMT-5:00)  Eastern Time - Montreal
  %option{:value => "America/Nassau"} (GMT-5:00)  Nassau
  %option{:value => "America/Panama"} (GMT-5:00)  Panama
  %option{:value => "America/Port-au-Prince"} (GMT-5:00)  Port-au-Prince
  %option{:value => "America/Toronto"} (GMT-5:00)  Eastern Time - Toronto
  %option{:value => "America/Caracas"} (GMT-4:00)  Caracas
  %option{:value => "America/Anguilla"} (GMT-4:00)  Anguilla
  %option{:value => "America/Antigua"} (GMT-4:00)  Antigua
  %option{:value => "America/Aruba"} (GMT-4:00)  Aruba
  %option{:value => "America/Asuncion"} (GMT-3:00)  Asuncion
  %option{:value => "America/Barbados"} (GMT-4:00)  Barbados
  %option{:value => "America/Boa_Vista"} (GMT-4:00)  Boa Vista
  %option{:value => "America/Campo_Grande"} (GMT-3:00)  Campo Grande
  %option{:value => "America/Cuiaba"} (GMT-3:00)  Cuiaba
  %option{:value => "America/Curacao"} (GMT-4:00)  Curacao
  %option{:value => "America/Dominica"} (GMT-4:00)  Dominica
  %option{:value => "America/Grenada"} (GMT-4:00)  Grenada
  %option{:value => "America/Guadeloupe"} (GMT-4:00)  Guadeloupe
  %option{:value => "America/Guyana"} (GMT-4:00)  Guyana
  %option{:value => "America/Halifax"} (GMT-4:00)  Atlantic Time - Halifax
  %option{:value => "America/La_Paz"} (GMT-4:00)  La Paz
  %option{:value => "America/Manaus"} (GMT-4:00)  Manaus
  %option{:value => "America/Martinique"} (GMT-4:00)  Martinique
  %option{:value => "America/Montserrat"} (GMT-4:00)  Montserrat
  %option{:value => "America/Port_of_Spain"} (GMT-4:00)  Port of Spain
  %option{:value => "America/Porto_Velho"} (GMT-4:00)  Porto Velho
  %option{:value => "America/Puerto_Rico"} (GMT-4:00)  Puerto Rico
  %option{:value => "America/Rio_Branco"} (GMT-5:00)  Rio Branco
  %option{:value => "America/Santiago"} (GMT-3:00)  Santiago
  %option{:value => "America/Santo_Domingo"} (GMT-4:00)  Santo Domingo
  %option{:value => "America/St_Kitts"} (GMT-4:00)  St. Kitts
  %option{:value => "America/St_Lucia"} (GMT-4:00)  St. Lucia
  %option{:value => "America/St_Thomas"} (GMT-4:00)  St. Thomas
  %option{:value => "America/St_Vincent"} (GMT-4:00)  St. Vincent
  %option{:value => "America/Thule"} (GMT-4:00)  Thule
  %option{:value => "America/Tortola"} (GMT-4:00)  Tortola
  %option{:value => "Antarctica/Palmer"} (GMT-3:00)  Palmer
  %option{:value => "Atlantic/Bermuda"} (GMT-4:00)  Bermuda
  %option{:value => "Atlantic/Stanley"} (GMT-3:00)  Stanley
  %option{:value => "America/St_Johns"} (GMT-3:30)  Newfoundland Time - St. Johns
  %option{:value => "America/Araguaina"} (GMT-3:00)  Araguaina
  %option{:value => "America/Argentina/Buenos_Aires"} (GMT-3:00)  Buenos Aires
  %option{:value => "America/Bahia"} (GMT-3:00)  Salvador
  %option{:value => "America/Belem"} (GMT-3:00)  Belem
  %option{:value => "America/Cayenne"} (GMT-3:00)  Cayenne
  %option{:value => "America/Fortaleza"} (GMT-3:00)  Fortaleza
  %option{:value => "America/Godthab"} (GMT-3:00)  Godthab
  %option{:value => "America/Maceio"} (GMT-3:00)  Maceio
  %option{:value => "America/Miquelon"} (GMT-3:00)  Miquelon
  %option{:value => "America/Montevideo"} (GMT-3:00)  Montevideo
  %option{:value => "America/Paramaribo"} (GMT-3:00)  Paramaribo
  %option{:value => "America/Recife"} (GMT-3:00)  Recife
  %option{:value => "America/Sao_Paulo"} (GMT-2:00)  Sao Paulo
  %option{:value => "Antarctica/Rothera"} (GMT-3:00)  Rothera
  %option{:value => "America/Noronha"} (GMT-2:00)  Noronha
  %option{:value => "Atlantic/South_Georgia"} (GMT-2:00)  South Georgia
  %option{:value => "America/Scoresbysund"} (GMT-1:00)  Scoresbysund
  %option{:value => "Atlantic/Azores"} (GMT-1:00)  Azores
  %option{:value => "Atlantic/Cape_Verde"} (GMT-1:00)  Cape Verde
  %option{:value => "Africa/Abidjan"} (GMT+0:00)  Abidjan
  %option{:value => "Africa/Accra"} (GMT+0:00)  Accra
  %option{:value => "Africa/Bamako"} (GMT+0:00)  Bamako
  %option{:value => "Africa/Banjul"} (GMT+0:00)  Banjul
  %option{:value => "Africa/Bissau"} (GMT+0:00)  Bissau
  %option{:value => "Africa/Casablanca"} (GMT+0:00)  Casablanca
  %option{:value => "Africa/Conakry"} (GMT+0:00)  Conakry
  %option{:value => "Africa/Dakar"} (GMT+0:00)  Dakar
  %option{:value => "Africa/El_Aaiun"} (GMT+0:00)  El Aaiun
  %option{:value => "Africa/Freetown"} (GMT+0:00)  Freetown
  %option{:value => "Africa/Lome"} (GMT+0:00)  Lome
  %option{:value => "Africa/Monrovia"} (GMT+0:00)  Monrovia
  %option{:value => "Africa/Nouakchott"} (GMT+0:00)  Nouakchott
  %option{:value => "Africa/Ouagadougou"} (GMT+0:00)  Ouagadougou
  %option{:value => "Africa/Sao_Tome"} (GMT+0:00)  Sao Tome
  %option{:value => "America/Danmarkshavn"} (GMT+0:00)  Danmarkshavn
  %option{:value => "Atlantic/Canary"} (GMT+0:00)  Canary Islands
  %option{:value => "Atlantic/Faroe"} (GMT+0:00)  Faeroe
  %option{:value => "Atlantic/Reykjavik"} (GMT+0:00)  Reykjavik
  %option{:value => "Atlantic/St_Helena"} (GMT+0:00)  St Helena
  %option{:value => "Etc/GMT"} (GMT+0:00)  GMT (no daylight saving)
  %option{:value => "Europe/Dublin"} (GMT+0:00)  Dublin
  %option{:value => "Europe/Lisbon"} (GMT+0:00)  Lisbon
  %option{:value => "Europe/London"} (GMT+0:00)  London
  %option{:value => "Africa/Algiers"} (GMT+1:00)  Algiers
  %option{:value => "Africa/Bangui"} (GMT+1:00)  Bangui
  %option{:value => "Africa/Brazzaville"} (GMT+1:00)  Brazzaville
  %option{:value => "Africa/Ceuta"} (GMT+1:00)  Ceuta
  %option{:value => "Africa/Douala"} (GMT+1:00)  Douala
  %option{:value => "Africa/Kinshasa"} (GMT+1:00)  Kinshasa
  %option{:value => "Africa/Lagos"} (GMT+1:00)  Lagos
  %option{:value => "Africa/Libreville"} (GMT+1:00)  Libreville
  %option{:value => "Africa/Luanda"} (GMT+1:00)  Luanda
  %option{:value => "Africa/Malabo"} (GMT+1:00)  Malabo
  %option{:value => "Africa/Ndjamena"} (GMT+1:00)  Ndjamena
  %option{:value => "Africa/Niamey"} (GMT+1:00)  Niamey
  %option{:value => "Africa/Porto-Novo"} (GMT+1:00)  Porto-Novo
  %option{:value => "Africa/Tunis"} (GMT+1:00)  Tunis
  %option{:value => "Africa/Windhoek"} (GMT+2:00)  Windhoek
  %option{:value => "Europe/Amsterdam"} (GMT+1:00)  Amsterdam
  %option{:value => "Europe/Andorra"} (GMT+1:00)  Andorra
  %option{:value => "Europe/Belgrade"} (GMT+1:00)  Central European Time (Europe/Belgrade)
  %option{:value => "Europe/Berlin"} (GMT+1:00)  Berlin
  %option{:value => "Europe/Brussels"} (GMT+1:00)  Brussels
  %option{:value => "Europe/Budapest"} (GMT+1:00)  Budapest
  %option{:value => "Europe/Copenhagen"} (GMT+1:00)  Copenhagen
  %option{:value => "Europe/Gibraltar"} (GMT+1:00)  Gibraltar
  %option{:value => "Europe/Luxembourg"} (GMT+1:00)  Luxembourg
  %option{:value => "Europe/Madrid"} (GMT+1:00)  Madrid
  %option{:value => "Europe/Malta"} (GMT+1:00)  Malta
  %option{:value => "Europe/Monaco"} (GMT+1:00)  Monaco
  %option{:value => "Europe/Oslo"} (GMT+1:00)  Oslo
  %option{:value => "Europe/Paris"} (GMT+1:00)  Paris
  %option{:value => "Europe/Prague"} (GMT+1:00)  Central European Time (Europe/Prague)
  %option{:value => "Europe/Rome"} (GMT+1:00)  Rome
  %option{:value => "Europe/Stockholm"} (GMT+1:00)  Stockholm
  %option{:value => "Europe/Tirane"} (GMT+1:00)  Tirane
  %option{:value => "Europe/Vaduz"} (GMT+1:00)  Vaduz
  %option{:value => "Europe/Vienna"} (GMT+1:00)  Vienna
  %option{:value => "Europe/Warsaw"} (GMT+1:00)  Warsaw
  %option{:value => "Europe/Zurich"} (GMT+1:00)  Zurich
  %option{:value => "Africa/Blantyre"} (GMT+2:00)  Blantyre
  %option{:value => "Africa/Bujumbura"} (GMT+2:00)  Bujumbura
  %option{:value => "Africa/Cairo"} (GMT+2:00)  Cairo
  %option{:value => "Africa/Gaborone"} (GMT+2:00)  Gaborone
  %option{:value => "Africa/Harare"} (GMT+2:00)  Harare
  %option{:value => "Africa/Johannesburg"} (GMT+2:00)  Johannesburg
  %option{:value => "Africa/Kigali"} (GMT+2:00)  Kigali
  %option{:value => "Africa/Lubumbashi"} (GMT+2:00)  Lubumbashi
  %option{:value => "Africa/Lusaka"} (GMT+2:00)  Lusaka
  %option{:value => "Africa/Maputo"} (GMT+2:00)  Maputo
  %option{:value => "Africa/Maseru"} (GMT+2:00)  Maseru
  %option{:value => "Africa/Mbabane"} (GMT+2:00)  Mbabane
  %option{:value => "Africa/Tripoli"} (GMT+2:00)  Tripoli
  %option{:value => "Asia/Amman"} (GMT+2:00)  Amman
  %option{:value => "Asia/Beirut"} (GMT+2:00)  Beirut
  %option{:value => "Asia/Damascus"} (GMT+2:00)  Damascus
  %option{:value => "Asia/Gaza"} (GMT+2:00)  Gaza
  %option{:value => "Asia/Jerusalem"} (GMT+2:00)  Jerusalem
  %option{:value => "Asia/Nicosia"} (GMT+2:00)  Nicosia
  %option{:value => "Europe/Athens"} (GMT+2:00)  Athens
  %option{:value => "Europe/Bucharest"} (GMT+2:00)  Bucharest
  %option{:value => "Europe/Chisinau"} (GMT+2:00)  Chisinau
  %option{:value => "Europe/Helsinki"} (GMT+2:00)  Helsinki
  %option{:value => "Europe/Istanbul"} (GMT+3:00)  Istanbul
  %option{:value => "Europe/Kaliningrad"} (GMT+2:00)  Russia - Kaliningrad
  %option{:value => "Europe/Kiev"} (GMT+2:00)  Kiev
  %option{:value => "Europe/Minsk"} (GMT+3:00)  Minsk
  %option{:value => "Europe/Riga"} (GMT+2:00)  Riga
  %option{:value => "Europe/Sofia"} (GMT+2:00)  Sofia
  %option{:value => "Europe/Tallinn"} (GMT+2:00)  Tallinn
  %option{:value => "Europe/Vilnius"} (GMT+2:00)  Vilnius
  %option{:value => "Africa/Addis_Ababa"} (GMT+3:00)  Addis Ababa
  %option{:value => "Africa/Asmara"} (GMT+3:00)  Asmera
  %option{:value => "Africa/Dar_es_Salaam"} (GMT+3:00)  Dar es Salaam
  %option{:value => "Africa/Djibouti"} (GMT+3:00)  Djibouti
  %option{:value => "Africa/Kampala"} (GMT+3:00)  Kampala
  %option{:value => "Africa/Khartoum"} (GMT+3:00)  Khartoum
  %option{:value => "Africa/Mogadishu"} (GMT+3:00)  Mogadishu
  %option{:value => "Africa/Nairobi"} (GMT+3:00)  Nairobi
  %option{:value => "Antarctica/Syowa"} (GMT+3:00)  Syowa
  %option{:value => "Asia/Aden"} (GMT+3:00)  Aden
  %option{:value => "Asia/Baghdad"} (GMT+3:00)  Baghdad
  %option{:value => "Asia/Bahrain"} (GMT+3:00)  Bahrain
  %option{:value => "Asia/Kuwait"} (GMT+3:00)  Kuwait
  %option{:value => "Asia/Qatar"} (GMT+3:00)  Qatar
  %option{:value => "Asia/Riyadh"} (GMT+3:00)  Riyadh
  %option{:value => "Europe/Moscow"} (GMT+3:00)  Russia - Moscow
  %option{:value => "Indian/Antananarivo"} (GMT+3:00)  Antananarivo
  %option{:value => "Indian/Comoro"} (GMT+3:00)  Comoro
  %option{:value => "Indian/Mayotte"} (GMT+3:00)  Mayotte
  %option{:value => "Asia/Tehran"} (GMT+3:30)  Tehran
  %option{:value => "Asia/Baku"} (GMT+4:00)  Baku
  %option{:value => "Asia/Dubai"} (GMT+4:00)  Dubai
  %option{:value => "Asia/Muscat"} (GMT+4:00)  Muscat
  %option{:value => "Asia/Tbilisi"} (GMT+4:00)  Tbilisi
  %option{:value => "Asia/Yerevan"} (GMT+4:00)  Yerevan
  %option{:value => "Europe/Samara"} (GMT+4:00)  Russia - Samara
  %option{:value => "Indian/Mahe"} (GMT+4:00)  Mahe
  %option{:value => "Indian/Mauritius"} (GMT+4:00)  Mauritius
  %option{:value => "Indian/Reunion"} (GMT+4:00)  Reunion
  %option{:value => "Asia/Kabul"} (GMT+4:30)  Kabul
  %option{:value => "Asia/Aqtau"} (GMT+5:00)  Aqtau
  %option{:value => "Asia/Aqtobe"} (GMT+5:00)  Aqtobe
  %option{:value => "Asia/Ashgabat"} (GMT+5:00)  Ashgabat
  %option{:value => "Asia/Dushanbe"} (GMT+5:00)  Dushanbe
  %option{:value => "Asia/Karachi"} (GMT+5:00)  Karachi
  %option{:value => "Asia/Tashkent"} (GMT+5:00)  Tashkent
  %option{:value => "Asia/Yekaterinburg"} (GMT+5:00)  Russia - Yekaterinburg
  %option{:value => "Indian/Kerguelen"} (GMT+5:00)  Kerguelen
  %option{:value => "Indian/Maldives"} (GMT+5:00)  Maldives
  %option{:value => "Asia/Calcutta"} (GMT+5:30)  India Standard Time
  %option{:value => "Asia/Colombo"} (GMT+5:30)  Colombo
  %option{:value => "Asia/Katmandu"} (GMT+5:45)  Katmandu
  %option{:value => "Antarctica/Mawson"} (GMT+5:00)  Mawson
  %option{:value => "Antarctica/Vostok"} (GMT+6:00)  Vostok
  %option{:value => "Asia/Almaty"} (GMT+6:00)  Almaty
  %option{:value => "Asia/Bishkek"} (GMT+6:00)  Bishkek
  %option{:value => "Asia/Dhaka"} (GMT+6:00)  Dhaka
  %option{:value => "Asia/Omsk"} (GMT+6:00)  Russia - Omsk, Novosibirsk
  %option{:value => "Asia/Thimphu"} (GMT+6:00)  Thimphu
  %option{:value => "Indian/Chagos"} (GMT+6:00)  Chagos
  %option{:value => "Asia/Rangoon"} (GMT+6:30)  Rangoon
  %option{:value => "Indian/Cocos"} (GMT+6:30)  Cocos
  %option{:value => "Antarctica/Davis"} (GMT+7:00)  Davis
  %option{:value => "Asia/Bangkok"} (GMT+7:00)  Bangkok
  %option{:value => "Asia/Hovd"} (GMT+7:00)  Hovd
  %option{:value => "Asia/Jakarta"} (GMT+7:00)  Jakarta
  %option{:value => "Asia/Krasnoyarsk"} (GMT+7:00)  Russia - Krasnoyarsk
  %option{:value => "Asia/Phnom_Penh"} (GMT+7:00)  Phnom Penh
  %option{:value => "Asia/Saigon"} (GMT+7:00)  Hanoi
  %option{:value => "Asia/Vientiane"} (GMT+7:00)  Vientiane
  %option{:value => "Indian/Christmas"} (GMT+7:00)  Christmas
  %option{:value => "Antarctica/Casey"} (GMT+11:00)  Casey
  %option{:value => "Asia/Brunei"} (GMT+8:00)  Brunei
  %option{:value => "Asia/Choibalsan"} (GMT+8:00)  Choibalsan
  %option{:value => "Asia/Hong_Kong"} (GMT+8:00)  Hong Kong
  %option{:value => "Asia/Irkutsk"} (GMT+8:00)  Russia - Irkutsk
  %option{:value => "Asia/Kuala_Lumpur"} (GMT+8:00)  Kuala Lumpur
  %option{:value => "Asia/Macau"} (GMT+8:00)  Macau
  %option{:value => "Asia/Makassar"} (GMT+8:00)  Makassar
  %option{:value => "Asia/Manila"} (GMT+8:00)  Manila
  %option{:value => "Asia/Shanghai"} (GMT+8:00)  China Time - Beijing
  %option{:value => "Asia/Singapore"} (GMT+8:00)  Singapore
  %option{:value => "Asia/Taipei"} (GMT+8:00)  Taipei
  %option{:value => "Asia/Ulaanbaatar"} (GMT+8:00)  Ulaanbaatar
  %option{:value => "Australia/Perth"} (GMT+8:00)  Western Time - Perth
  %option{:value => "Asia/Dili"} (GMT+9:00)  Dili
  %option{:value => "Asia/Jayapura"} (GMT+9:00)  Jayapura
  %option{:value => "Asia/Pyongyang"} (GMT+8:30)  Pyongyang
  %option{:value => "Asia/Seoul"} (GMT+9:00)  Seoul
  %option{:value => "Asia/Tokyo"} (GMT+9:00)  Tokyo
  %option{:value => "Asia/Yakutsk"} (GMT+9:00)  Russia - Yakutsk
  %option{:value => "Pacific/Palau"} (GMT+9:00)  Palau
  %option{:value => "Australia/Adelaide"} (GMT+10:30)  Central Time - Adelaide
  %option{:value => "Australia/Darwin"} (GMT+9:30)  Central Time - Darwin
  %option{:value => "Antarctica/DumontDUrville"} (GMT+10:00)  Dumont D'Urville
  %option{:value => "Asia/Vladivostok"} (GMT+10:00)  Russia - Yuzhno-Sakhalinsk
  %option{:value => "Australia/Brisbane"} (GMT+10:00)  Eastern Time - Brisbane
  %option{:value => "Australia/Hobart"} (GMT+11:00)  Eastern Time - Hobart
  %option{:value => "Australia/Sydney"} (GMT+11:00)  Eastern Time - Sydney
  %option{:value => "Australia/Melbourne"} (GMT+11:00)  Eastern Time - Melbourne
  %option{:value => "Pacific/Guam"} (GMT+10:00)  Guam
  %option{:value => "Pacific/Port_Moresby"} (GMT+10:00)  Port Moresby
  %option{:value => "Pacific/Saipan"} (GMT+10:00)  Saipan
  %option{:value => "Pacific/Truk"} (GMT+10:00)  Truk
  %option{:value => "Asia/Magadan"} (GMT+11:00)  Russia - Magadan
  %option{:value => "Pacific/Efate"} (GMT+11:00)  Efate
  %option{:value => "Pacific/Guadalcanal"} (GMT+11:00)  Guadalcanal
  %option{:value => "Pacific/Kosrae"} (GMT+11:00)  Kosrae
  %option{:value => "Pacific/Noumea"} (GMT+11:00)  Noumea
  %option{:value => "Pacific/Ponape"} (GMT+11:00)  Ponape
  %option{:value => "Pacific/Norfolk"} (GMT+11:00)  Norfolk
  %option{:value => "Asia/Kamchatka"} (GMT+12:00)  Russia - Petropavlovsk-Kamchatskiy
  %option{:value => "Pacific/Auckland"} (GMT+13:00)  Auckland
  %option{:value => "Pacific/Fiji"} (GMT+13:00)  Fiji
  %option{:value => "Pacific/Funafuti"} (GMT+12:00)  Funafuti
  %option{:value => "Pacific/Kwajalein"} (GMT+12:00)  Kwajalein
  %option{:value => "Pacific/Majuro"} (GMT+12:00)  Majuro
  %option{:value => "Pacific/Nauru"} (GMT+12:00)  Nauru
  %option{:value => "Pacific/Tarawa"} (GMT+12:00)  Tarawa
  %option{:value => "Pacific/Wake"} (GMT+12:00)  Wake
  %option{:value => "Pacific/Wallis"} (GMT+12:00)  Wallis
  %option{:value => "Pacific/Enderbury"} (GMT+13:00)  Enderbury
  %option{:value => "Pacific/Tongatapu"} (GMT+14:00)  Tongatapu
  %option{:value => "Pacific/Kiritimati"} (GMT+14:00)  Kiritimati
