.legacy-ethic
  .container
    .row.step-wrapper
      %h2.step-title=t('pages.ethic.step3.title').html_safe
      / .col-md-12.content.clock-box
      /   .clock
      .col-md-12.content
        %p=t('pages.ethic.step3.para1').html_safe
        %p=t('pages.ethic.step3.para2').html_safe
        %p=t('pages.ethic.step3.para3').html_safe
        %p=t('pages.ethic.step3.para4').html_safe
        %p=t('pages.ethic.step3.para5').html_safe
      .col-md-12.text-center
        %button.btn.hcc-green-btn-vertical
          - if current_user.nil?
            - session[:deposit] = (session[:apply_plan]) ? false : true            
            %a{'href': '/manager/register?deposit=true'}
              = t('pages.ethic.label.ready')
          - else
            %a{'href': '/upgrade'}
              = t('pages.ethic.label.ready')
:javascript
  var clock;
  
  jQuery(document).ready(function() {
    /*
    var clock;

    clock = $('.clock').FlipClock({
          clockFace: 'DailyCounter',
          autoStart: false,
          callbacks: {
            stop: function() {              
            }
          }
      });          
      clock.setTime(24 * 60 * 60 -1);
      clock.setCountdown(true);
      clock.start();
    */
  });

