%p Hi #{@invitee_email},


%p
  %b Invite Code : #{@invite_code}

%p You have been invited by #{@inviter} to collaborate on his/her child using Health Childcare application. Please click on the link below to register.
= link_to 'Register now', invite_registration_url
