= content_for :title, t('survey.labels.worker_progress_chard_title')
- content_for :page_title, t('survey.labels.worker_progress_chard_title')
.survey-result-dash-container
  .container
    .row
      .col-md-3.survey-groups
        %input{type: 'hidden', id: 'current_user_role', value: current_user.role}
        = render 'group'
      .col-md-9
        .row.survey-subjects
          = render 'subjects'
        .row.survey-charts
          #progress_charts_partial
            / = render partial: 'survey_subjects/progress_charts', locals: {trend: @trend}
:javascript
  jQuery(document).ready(function() {
    $('#link_dashboard_guide').on('click', function(){
      window.location.href = '/guide_page/manager_survey/result_step1';
    });
  });