.row
  .col-md-10
    .discussions.container-fluid
      - @discussions.each do |discussion|
        = render partial: '/discussions/discussion', locals: {discussion: discussion}

    .row.discussion-form
      %hr
      = render partial: 'form'

  .col-md-2.side-menu
    = render partial: '/discussions/collaborators'
