<% content_for :title, 'Edit Plan' %>
<% content_for :breadcrumb, 'Edit' %>
<% breadcrumb_add 'Plans', admin_plans_path %>

<div class="twelvecol">
    <div class="page-header">
        <h2 class="widget widget-header"><%= t('admin.plans.edit.heading')%></h2>
    </div>
    <%= render 'form' %>
</div>
