.panel.panel-default
  .panel-heading
    Children
  .panel-body
    %ul.list-group.department-children
      - @children.each do |child|
        %li.list-group-item.department-child{class: child.id == @active_child.id ? 'active' : ''}
          = link_to discussions_path(department_id: child.department_id, child_id: child.id) do
            = image_tag child.profile_image.file.url, class: 'img'
            = child.name
