<% content_for :title, 'New Discount Code' %>
<% content_for :breadcrumb, 'New' %>
<% breadcrumb_add 'Discount Codes', admin_discount_codes_path %>

<div class="twelvecol">
    <div class="page-header">
        <h2 class="widget widget-header"><%= t('admin.discount_codes.new.heading')%></h2>
    </div>
    <%= render 'form' %>
</div>
