/*
 *= require_self
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require bootstrap/dist/css/bootstrap-theme.min.css
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require plugins/colors.min.css
 *= require plugins/draggable.min.css
 *= require plugins/file.min.css
 *= require plugins/image_manager.min.css
 *= require plugins/image.min.css
 *= require plugins/quick_insert.min.css
 *= require jquery.steps
 *= require jquery.datetimepicker
 *= require slick-carousel/slick/slick.css
 *= require slick-carousel/slick/slick-theme.css
 *= require select2.css
 *= require sumoselect.min.css
 *= require responsive
*/

/*
@import "compass";
@import "compass/reset";
*/
@import "compass/css3";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";

$grey: #d5d5de;
$darker-grey: #ccc;
$lighter-grey: #eaeaea;
$header-blue: #296BD1;
$info-blue: #03a9f4;
$sky-blue: #6fd1fd;
$very-light-blue: #e2f5fe;
$info-green: #4caf50;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@import "dashboard_v2/base";
@import "dashboard_v2/messages";
@import "dashboard_v2/illnesses";
@import "dashboard_v2/discussions";
@import "common";
