<% content_for :title, 'Edit Video' %>
<% content_for :breadcrumb, 'Edit' %>
<% breadcrumb_add 'Videos', admin_videos_path %>
<% breadcrumb_add @video.url, admin_video_path(@video) %>

<div class="twelvecol">
    <div class="page-header">
        <h2 class="widget widget-header">Edit Video</h2>
    </div>
    <%= render partial: 'form', locals: { url: admin_video_path } %>
</div>

