<% content_for :title, 'New Poster' %>
<% content_for :breadcrumb, 'New' %>
<% breadcrumb_add 'Poster', admin_locale_posters_path %>

<div class="twelvecol">
    <div class="page-header">
        <h2 class="widget widget-header">New Poster</h2>
    </div>
    <%= render partial: 'form', locals: { url: admin_locale_posters_path } %>
</div>