<div class="container">
  <div class="row">
    <h3>Schedule a meeting </h3>
  </div>
</div>

<div align="center" style="height:100%;margin:auto;">
  <div id ="SOIDIV_NorgesLandsforeningforfriskerebarnehager">
  </div>
</div>

<script type="text/javascript">if (window.attachEvent) { window.attachEvent('onload', loadSoeJs); } else { if (window.onload){  if (typeof isSeoFunctionLoaded == 'undefined') {isSeoFunctionLoaded = false;}if(!isSeoFunctionLoaded){var curronload = window.onload; var newonload = function (evt) { curronload(evt); loadSoeJs(evt); }; window.onload = newonload; isSeoFunctionLoaded = true;}} else { window.onload = loadSoeJs; }}function loadSoeJs() { var head = document.getElementsByTagName('head').item(0); var js = document.createElement('script'); js.setAttribute('type', 'text/javascript'); js.setAttribute('src', '//static.scheduleonce.com/mergedjs/ScheduleOnceEmbed.js'); js.setAttribute('defer', 'true'); js.async = true; head.appendChild(js); }</script><script type="text/javascript">(function(){function SOEScriptLoaded(){ if(typeof soe != 'undefined') { soe.AddEventListners("//secure.scheduleonce.com/NorgesLandsforeningforfriskerebarnehager?thm=white&bc=006DAF&tc=FFFFFF&dt=&em=1","NorgesLandsforeningforfriskerebarnehager","635px","100% !important","false"); } else { setTimeout(SOEScriptLoaded,500); } } setTimeout(SOEScriptLoaded,500)})()
</script>
